[Unit]
Description=TF2 MGE 1
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=steam
WorkingDirectory=/home/steam
ExecStart=/usr/bin/sh run_mge_1.sh
# Restart the server when it is stopped or crashed after 10 seconds.
# Comment out RestartSec if you want to restart immediately.
Restart=always
RestartSec=10
StandardInput=null

[Install]
WantedBy=multi-user.target
